.fairFareHomePageAnimation{
    padding: 5rem 0.5rem 0.5rem 0;

}
.logoSection{
    font-weight: 700;
    float:left;
    padding: 1rem 0 0 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.taglineSection{
    padding: 0 1rem 0 1rem;
    text-align:center;
    font-weight:700;
    line-height: 1.5rem;
}
.logInBtn{
    width:auto;
    font-weight:700;
    font-size: 1.1rem;
    padding:1rem 2rem 1rem 2rem;
    background-color: #1e73e9;
    color:white;
    border:none;
    cursor: pointer;
    text-decoration: none;
}
.logInBtn:hover{
    background-color: black;
}
.registerBtn{
    width:auto;
    font-weight:700;
    font-size: 1.1rem;
    padding:1rem 2rem 1rem 2rem;
    background-color: #1e73e9;
    color:white;
    border:none;
    cursor: pointer;
    text-decoration: none;
}
.registerBtn:hover{
    background-color: black;
}
.buttonsSection{
    display: flex;
    flex-direction: row;
justify-content: space-evenly;
margin-top: 3rem;
}